li {
    display:inline-block;
}

.navbar a{
   display:flex;
   padding:12px;
   text-decoration: none;
   background-color: white;
   color:black;
   border-radius: 25px;

}

.navbar a.active{
    color:black;
    background-color: lightgreen;
}

.navbar {
    text-align: center;
}

@keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }

div {
    animation: mymove 5s infinite;
}