li {
    display:inline-block;
}

.navebar a{
   display:flex;
   padding:12px;
   text-decoration: none;
   background-color: lightgreen;
   color:black;
   border-radius: 25px;
   align-content: center;
}
