li {
    display:inline-block;
}

.navbar a{
   display:flex;
   padding:12px;
   text-decoration: none;
   background-color: rgb(241, 241, 194. 0.75);
   color:black;
   border-radius: 25px;
}

.navbar a.active{
    color:black;
    background-color: rgba(65, 200, 237, 0.75);
}

.navbar {
    text-align: center;
    border-radius: 40px;
    background-color: rgba(197, 224, 239, 0.75);
}

.navbar a{
    transition: 0.5s;
}

.navbar a:hover {
    background-color: #c8eaf5;
}

.navbar a {
    margin-left: 20px;
} 

.contact-info {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    bottom: 40px;
    border: 3px solid #87dfe5;
    background-color: rgba(182, 216, 236, 0.75);
    border-radius: 10px;
    border-width: 60%;
}

.section {
    margin-top: 10px;
}

.more {
    margin-top: 70px
}

.contact-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50px;
}

h2 {
    font-size: 20px;
    font-style: oblique;
    color:rgb(47, 36, 36);
}

.project-title h2,
.skill-title h2,
.contact-title h2,
.about-title h2,
.about-info h2,
.source-info h2{
    font-size: 30px;
    color: darkblue;
}

body {
    background-image: url("https://pic.616pic.com/bg_w1180/00/00/19/6WkqlcG4xr.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contact-info {
    animation-duration: 1.5s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.profile-pic {
    width: 40%;
    border-radius: 100%;
    text-align:center;
}

.home-info {
    animation-duration: 1s;
    animation-name: dropIn;
}
@keyframes dropIn {
    from {
        transform: translateY(-500px);
    }

    to {
        transform: translateY(0);
    }
}

.skill-info {
    animation-duration: 1s;
    animation-name: dropIn;
}
@keyframes dropIn {
    from {
        transform: translateY(-500px);
    }

    to {
        transform: translateY(0);
    }
}

.name-title {
    color: black;
    text-align: center;
    background-color: rgb(224, 255, 251);
}

.name-title h4, h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.pic-info {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: Bradley Hand, cursive;
    font-size: 70px;
}

.skill-info h1{
    font-size: 150%;
}

img {
    width:20%;
}

.skill-img {
    padding-left: 100px;
    padding-right:100px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(159, 193, 208, 0.75);
}



.asl-web,
.quiz,
.adv-game {
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
    border: 3px solid #17969f;
    /* transition: width 1s, height 1s; */

}

.asl-img,
.quiz-img,
.adv-img {
    transition: 1s;
}

.asl-img:hover,
.quiz-img:hover,
.adv-img:hover {
    transform: scale(1.03);
}


.project-title,
.project-info {
    animation: fadeIn 2s;
}

.about-info {
    animation: fadeIn 2s;
}

.source-info {
    animation:fadeIn 2s;
}
@keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.asl-web,
.adv-game,
.quiz {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.adv-img {
    margin-left: 40px
}
.a-tag {
    width: 50%;
    display: flex;
    text-align: center;
}



.h2-tag {
    width: 50%;
    font-size: 15px 
}

.adv-img, 
.quiz-img,
.asl-img {
    width: 50%;
    margin-top: 5px;
    margin-bottom: 3px;
}

.py-quiz {
    width: 100%
}

.source-info {
    background-color: rgba(197, 224, 239, 0.75);
    border: 3px solid #87dfe5;
    border-radius: 10px;
    padding-left: 10px;
}

.about-info {
    margin-left: 50px;
    margin-right: 50px
}